/* Import font type */
@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400');

/* Make root for colors */
:root {
    --author-and-title: #1A1A1F;
    --date-and-emal: 85858D;
    --article: 404049;
    --market: #D6961C;
    --application: #15C972;
    --artificial-intelligence: #B71FDD;
    --ui-ux: #DC2828;
    --research: #60BE16;
    --log-in: #5D37F3;
}

/* Reset some properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;  /* Set default font size */
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'firaGo', sans-serif !important;
}

/* Set some styles for main and its child elements */
body header {
    padding-left: 7.6rem;
    padding-right: 7.6rem;
}

.header-elements {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15rem;
    height: 2.4rem;
    margin-top: 2.8rem;
}

.log-in {
    background-color: var(--log-in);
    display: inline-flex;
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
}

.log-in p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: #fff;
}